# Head Tags of Wikipedia

In [1]:
import bs4
import requests
from bs4 import BeautifulSoup
import re
url = "https://en.wikipedia.org/wiki/Main_Page"
r = requests.get(url)# r variable has all the HTML code
htmlContent = r.content# r returns response so if we want the code we write r.content
#print(htmlContent)
htmlText = r.text
#print(htmlText)
soup = BeautifulSoup(r.content, 'html.parser')
head_tag=[]
tag=soup.find_all('span',class_='mw-headline')
tag[0:4]

[<span class="mw-headline" id="From_today's_featured_article">From today's featured article</span>,
 <span class="mw-headline" id="Did_you_know_...">Did you know ...</span>,
 <span class="mw-headline" id="In_the_news">In the news</span>,
 <span class="mw-headline" id="On_this_day">On this day</span>]

In [2]:
tag2=soup.title.text

In [3]:
print(tag)

[<span class="mw-headline" id="From_today's_featured_article">From today's featured article</span>, <span class="mw-headline" id="Did_you_know_...">Did you know ...</span>, <span class="mw-headline" id="In_the_news">In the news</span>, <span class="mw-headline" id="On_this_day">On this day</span>, <span class="mw-headline" id="From_today's_featured_list">From today's featured list</span>, <span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span>, <span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span>, <span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span>, <span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span>]

In [4]:
for i in tag:
    head_tag.append(i.get_text().replace("\n",""))
head_tag

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [5]:
import pandas as pd
Head_tags=pd.DataFrame({})
Head_tags['tag']=head_tag
Head_tags

                             tag
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4     From today's featured list
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [6]:
Head_tags.to_csv("/Users/aks/Desktop/WebScraping.csv",index=False)

#######################################################################################################################

# TOP 100 IMDB RATING MOVIES

In [7]:
url1 = "https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating"
r1 = requests.get(url1)# r variable has all the HTML code
htmlContent1 = r.content

In [8]:
htmlText1 = r.text
soup1 = BeautifulSoup(r1.content, 'html.parser')
Movies_Name=[]
IMDB_Rating=[]
Year_Of_Release=[]
Name1=soup1.find_all('h3',class_='lister-item-header')
Name1[0:2]

[<h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">1.</span>
 <a href="/title/tt0111161/">The Shawshank Redemption</a>
 <span class="lister-item-year text-muted unbold">(1994)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">2.</span>
 <a href="/title/tt0068646/">The Godfather</a>
 <span class="lister-item-year text-muted unbold">(1972)</span>
 </h3>]

In [9]:
for i in Name1:
    Movies_Name.append(i.get_text().replace("\n",""))
Movies_Name[0:5]

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Dark Knight(2008)',
 '4.The Godfather: Part II(1974)',
 '5.12 Angry Men(1957)']

In [10]:
Rating1=soup1.find_all('div',class_='inline-block ratings-imdb-rating')
Rating1[0:2]

[<div class="inline-block ratings-imdb-rating" data-value="9.3" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>9.3</strong>
 </div>,
 <div class="inline-block ratings-imdb-rating" data-value="9.2" name="ir">
 <span class="global-sprite rating-star imdb-rating"></span>
 <strong>9.2</strong>
 </div>]

In [11]:
for i in Rating1:
    IMDB_Rating.append(i.get_text().replace("\n",""))
IMDB_Rating[0:5]

['9.3', '9.2', '9.0', '9.0', '9.0']

In [12]:
Release1=soup1.find_all('span',class_='lister-item-year text-muted unbold')
Release1[0:4]

[<span class="lister-item-year text-muted unbold">(1994)</span>,
 <span class="lister-item-year text-muted unbold">(1972)</span>,
 <span class="lister-item-year text-muted unbold">(2008)</span>,
 <span class="lister-item-year text-muted unbold">(1974)</span>]

In [13]:
for i in Release1:
    Year_Of_Release.append(i.get_text().replace("\n",""))
Year_Of_Release[0:10]

['(1994)',
 '(1972)',
 '(2008)',
 '(1974)',
 '(1957)',
 '(2003)',
 '(1994)',
 '(1993)',
 '(2010)',
 '(1999)']

In [14]:
IMDB=pd.DataFrame({})
IMDB['NAME']=Movies_Name
IMDB['RATING']=IMDB_Rating
IMDB['YEAR']=Year_Of_Release
IMDB

                                NAME RATING    YEAR
0   1.The Shawshank Redemption(1994)    9.3  (1994)
1              2.The Godfather(1972)    9.2  (1972)
2            3.The Dark Knight(2008)    9.0  (2008)
3     4.The Godfather: Part II(1974)    9.0  (1974)
4               5.12 Angry Men(1957)    9.0  (1957)
..                               ...    ...     ...
95                   96.Amélie(2001)    8.3  (2001)
96                   97.Snatch(2000)    8.3  (2000)
97      98.Requiem for a Dream(2000)    8.3  (2000)
98          99.American Beauty(1999)    8.3  (1999)
99       100.Good Will Hunting(1997)    8.3  (1997)

[100 rows x 3 columns]

In [15]:
IMDB.to_csv("/Users/aks/Desktop/WebScraping.csv",index=False)

##############################################################################################################################

# TOP 100 HINDI IMDB RATING MOVIES

In [16]:
url2 = "https://www.imdb.com/list/ls051594496/"
r2 = requests.get(url2)# r variable has all the HTML code
htmlContent2 = r.content# r returns response so if we want the code we write r.content
#print(htmlContent)

In [17]:
htmlText2 = r.text
#print(htmlText)

In [18]:
soup2 = BeautifulSoup(r2.content, 'html.parser')

#print(soup.prettify())	# to print html in tree structure

In [19]:
title2 = soup2.title
print(title2)

<title>The 100 Greatest Hindi Movies of All Time - IMDb</title>

In [20]:
Movies_Name1=[]
IMDB_Rating2=[]
Year_Of_Release1=[]

In [21]:
Name11=soup2.find_all('h3',class_='lister-item-header')

In [22]:
Name11[0:4]

[<h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">1.</span>
 <a href="/title/tt1954470/">Gangs of Wasseypur</a>
 <span class="lister-item-year text-muted unbold">(2012)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">2.</span>
 <a href="/title/tt0169102/">Lagaan: Once Upon a Time in India</a>
 <span class="lister-item-year text-muted unbold">(2001)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">3.</span>
 <a href="/title/tt0215911/">Koshish</a>
 <span class="lister-item-year text-muted unbold">(1972)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">4.</span>
 <a href="/title/tt0405508/">Rang De Basanti</a>
 <span class="lister-item-year text-muted unbold">(2006)</span>
 </h3>]

In [23]:
for i in Name11:
    Movies_Name1.append(i.get_text().replace("\n",""))
Movies_Name1[0:5]

['1.Gangs of Wasseypur(2012)',
 '2.Lagaan: Once Upon a Time in India(2001)',
 '3.Koshish(1972)',
 '4.Rang De Basanti(2006)',
 '5.Mughal-E-Azam(1960)']

In [24]:
Rating2=soup2.find_all('span',class_='ipl-rating-star__rating')
Rating2[0:4]

[<span class="ipl-rating-star__rating">8.2</span>,
 <span class="ipl-rating-star__rating">0</span>,
 <span class="ipl-rating-star__rating">Rate</span>,
 <span class="ipl-rating-star__rating">1</span>]

In [25]:
# for i in Rating2:
#     IMDB_Rating2.append(i.get_text().replace("\n","").strip())
# IMDB_Rating2

In [26]:
Release1=soup2.find_all('span',class_='lister-item-year text-muted unbold')
Release1[0:4]

[<span class="lister-item-year text-muted unbold">(2012)</span>,
 <span class="lister-item-year text-muted unbold">(2001)</span>,
 <span class="lister-item-year text-muted unbold">(1972)</span>,
 <span class="lister-item-year text-muted unbold">(2006)</span>]

In [27]:
for i in Release1:
    Year_Of_Release1.append(i.get_text().replace("\n",""))
Year_Of_Release1[0:10]

['(2012)',
 '(2001)',
 '(1972)',
 '(2006)',
 '(1960)',
 '(1980)',
 '(2009)',
 '(2007)',
 '(1957)',
 '(2004)']

In [28]:
IMDB1=pd.DataFrame({})

In [29]:
IMDB1['NAME1']=Movies_Name1
IMDB1['YEAR1']=Year_Of_Release1
IMDB1['RATING1']=IMDB_Rating

In [30]:
IMDB1

                                        NAME1       YEAR1 RATING1
0                  1.Gangs of Wasseypur(2012)      (2012)     9.3
1   2.Lagaan: Once Upon a Time in India(2001)      (2001)     9.2
2                             3.Koshish(1972)      (1972)     9.0
3                     4.Rang De Basanti(2006)      (2006)     9.0
4                       5.Mughal-E-Azam(1960)      (1960)     9.0
..                                        ...         ...     ...
95             96.Oye Lucky! Lucky Oye!(2008)      (2008)     8.3
96                        97.Chhichhore(2019)      (2019)     8.3
97                       98.Lootera(I) (2013)  (I) (2013)     8.3
98           99.Jaane Tu... Ya Jaane Na(2008)      (2008)     8.3
99                      100.City Lights(2014)      (2014)     8.3

[100 rows x 3 columns]

In [31]:
IMDB1.to_csv("/Users/aks/Desktop/WebScraping.csv",index=False)

######################################################################################################################

# Scrap Book Name ,Author,Genre

In [32]:
url3 = "https://bookpage.com/search?book_genre=humor"
r3 = requests.get(url3)# r variable has all the HTML code
htmlContent3 = r3.content# r returns response so if we want the code we write r.content
#print(htmlContent3)

In [33]:
htmlText3 = r3.text

In [34]:
soup3 = BeautifulSoup(r3.content, 'html.parser')

In [35]:
scrap_book_name=[]
author_name=[]
genre=[]
book_review=[]

In [36]:
Name3=soup3.find_all('h4',class_='italic')

In [37]:
Name3[0:4]

[<h4 class="italic">
 <a href="/features/25765-lifestyles-january-2021-nonfiction">Lifestyles: January 2021</a>
 </h4>,
 <h4 class="italic">
 <a href="/features/25748-two-books-worth-dog-earing-nonfiction">Two books worth dog-earing</a>
 </h4>,
 <h4 class="italic">
 <a href="/features/25665-audiobooks-dont-know-what-to-listen-to-next-weve-got-some-ideas-audio">Audiobooks: Don’t know what to listen to next? We’ve got some ideas</a>
 </h4>,
 <h4 class="italic">
 <a href="/reviews/25714-rachel-bloom-i-want-to-be-where-normal-people-are-nonfiction">I Want to Be Where the Normal People Are</a>
 </h4>]

In [38]:
for i in Name3:
    scrap_book_name.append(i.get_text().replace("\n",""))
scrap_book_name

['Lifestyles: January 2021',
 'Two books worth dog-earing',
 'Audiobooks: Don’t know what to listen to next? We’ve got some ideas',
 'I Want to Be Where the Normal People Are',
 'Rachel Bloom',
 'These books score a perfect 10 on the romp-ometer',
 'Distinguished dads',
 'Book Clubs: Heavy topics, light touch',
 'I Don’t Want to Die Poor',
 'Samantha Irby']

In [39]:
author3=soup3.find_all('p',class_='sans bold')

In [40]:
author3[0:4]

[<p class="sans bold">
 Feature by Susannah Felts
 </p>,
 <p class="sans bold">
 Feature by Carly Nations
 </p>,
 <p class="sans bold">
 Feature by the editors of BookPage
 </p>,
 <p class="sans bold">
 Rachel Bloom
 </p>]

In [41]:
for i in author3:
    author_name.append(i.get_text().replace("\n",""))
author_name

['Feature by Susannah Felts',
 'Feature by Carly Nations',
 'Feature by the editors of BookPage',
 'Rachel Bloom',
 'Weird is the new normal',
 'Feature by BookPage contributors',
 'Feature by Julie Hale',
 'Feature by Julie Hale',
 'Michael Arceneaux',
 'She’s more than just a bestselling author; she also has exceptional customer service skills!']

In [42]:
genre3=soup3.find_all('p',class_='genre-links hidden-phone')

In [43]:
genre3[0:2]

[<p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=self-help">Self-Help</a>
  /
 <a href="/search?book_genre=creativity">Creativity</a>
 </p>,
 <p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=pets">Pets</a>
  /
 <a href="/search?book_genre=humor">Humor</a>
 </p>]

In [44]:
for i in genre3:
    genre.append(i.get_text().replace("\n",""))
genre3[0:1]

[<p class="genre-links hidden-phone">
 <a href="/search?book_genre=nonfiction">Nonfiction</a>
  /
 <a href="/search?book_genre=self-help">Self-Help</a>
  /
 <a href="/search?book_genre=creativity">Creativity</a>
 </p>]

In [45]:
review3=soup3.find_all('div',class_='read-full')
for i in review3:
    book_review.append(i.get_text().replace("\n",""))
book_review

['Read the Feature ',
 'Read the Feature ',
 'Read the Feature ',
 'Read the Review ',
 'Read the Interview ',
 'Read the Feature ',
 'Read the Feature ',
 'Read the Feature ',
 'Read the Review ',
 'Read the Interview ']

In [46]:
BOOK=pd.DataFrame({})

In [47]:
BOOK['Scrap_book_name']=scrap_book_name
BOOK['Author_name']=author_name
BOOK['Genre']=genre
BOOK['Reviews']=book_review

In [48]:
BOOK

,Scrap_book_name,Author_name,Genre,Reviews
0,Lifestyles: January 2021,Feature by Susannah Felts,Nonfiction / Self-Help / Creativity,Read the Feature
1,Two books worth dog-earing,Feature by Carly Nations,Nonfiction / Pets / Humor,Read the Feature
2,Audiobooks: Don’t know what to listen to next?...,Feature by the editors of BookPage,Audio / Nonfiction / Nature,Read the Feature
3,I Want to Be Where the Normal People Are,Rachel Bloom,Nonfiction / Humor / Essays,Read the Review
4,Rachel Bloom,Weird is the new normal,Nonfiction / Humor / Essays,Read the Interview
5,These books score a perfect 10 on the romp-ometer,Feature by BookPage contributors,Nonfiction / Memoir / Society,Read the Feature
6,Distinguished dads,Feature by Julie Hale,Nonfiction / Biography & Memoir / Humor,Read the Feature
7,"Book Clubs: Heavy topics, light touch",Feature by Julie Hale,Nonfiction / Humor / Essays,Read the Feature
8,I Don’t Want to Die Poor,Michael Arceneaux,Nonfiction / Humor / Essays,Read the Review
9,Samantha Irby,She’s more than just a bestselling author; she...,Nonfiction / Humor / Essays,Read the Interview

In [49]:
BOOK[0:5]

,Scrap_book_name,Author_name,Genre,Reviews
0,Lifestyles: January 2021,Feature by Susannah Felts,Nonfiction / Self-Help / Creativity,Read the Feature
1,Two books worth dog-earing,Feature by Carly Nations,Nonfiction / Pets / Humor,Read the Feature
2,Audiobooks: Don’t know what to listen to next?...,Feature by the editors of BookPage,Audio / Nonfiction / Nature,Read the Feature
3,I Want to Be Where the Normal People Are,Rachel Bloom,Nonfiction / Humor / Essays,Read the Review
4,Rachel Bloom,Weird is the new normal,Nonfiction / Humor / Essays,Read the Interview

In [50]:
BOOK.to_csv("/Users/aks/Desktop/WebScraping.csv",index=False)

#####################################################################################################################################

# ICC ODI RANKING MENS

In [51]:
url5 = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
r5 = requests.get(url5)# r variable has all the HTML code
htmlContent5 = r5.content# r returns response so if we want the code we write r.content
#print(htmlContent)
htmlText5 = r5.text
#print(htmlText)
soup5 = BeautifulSoup(r5.content, 'html.parser')
Teams=[]
Matches5=[]
Points5=[]
Ratings5=[]
Ratings6=[]

teams=soup5.find_all('span',class_='u-hide-phablet')
teams[0:10]

[<span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Afghanistan</span>]

In [52]:
for i in teams[0:20]:
    Teams.append(i.get_text().replace("\n",""))
Teams[0:10]

['England',
 'India',
 'New Zealand',
 'Australia',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [53]:
matches5=soup5.find_all('td',class_='table-body__cell u-center-text',)
for i in matches5:
    Matches5.append(i.text)
Matches5
print(Matches5[0::2])

['52', '32', '39', '31', '35', '34', '39', '43', '28', '24', '5', '27', '12', '16', '9', '15', '9', '14', '14']

In [54]:
points5=soup5.find_all('td',class_='table-body__cell u-center-text',)
for i in points5:
    Points5.append(i.text)
Points5
print(Points5[1::2])

['6,102', '3,716', '4,344', '3,345', '3,490', '2,989', '3,297', '3,285', '1,549', '1,256', '222', '1,121', '479', '419', '161', '259', '152', '185', '0']

In [55]:
ratings5=soup5.find_all('td',class_='rankings-block__banner--rating u-text-right')
ratings5

[<td class="rankings-block__banner--rating u-text-right">
                             123
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>]

In [56]:
for i in ratings5:
    Ratings5.append(i.text.replace("\n","").strip())
Ratings5

['123']

In [57]:
ratings6=soup5.find_all('td',class_='table-body__cell u-text-right rating')
ratings6[0:4]

[<td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell u-text-right rating">111</td>,
 <td class="table-body__cell u-text-right rating">108</td>]

In [58]:
for i in ratings6:
    Ratings6.append(i.text.replace("\n","").strip())
Ratings6[0:10]

['117', '116', '111', '108', '100', '88', '85', '76', '55', '52']

In [59]:
RATINGS_ICC=Ratings5+Ratings6

In [60]:
ICC=pd.DataFrame({})
ICC['TEAM_NAME']=Teams[0:10]
ICC['MATCHES']=Matches5[0::2][0:10]
ICC['POINTS']=Points5[1::2][0:10]
ICC['RATINGS_']=RATINGS_ICC[0:10]


ICC

      TEAM_NAME MATCHES POINTS RATINGS_
0       England      52  6,102      123
1         India      32  3,716      117
2   New Zealand      39  4,344      116
3     Australia      31  3,345      111
4  South Africa      35  3,490      108
5      Pakistan      34  2,989      100
6    Bangladesh      39  3,297       88
7     Sri Lanka      43  3,285       85
8   West Indies      28  1,549       76
9   Afghanistan      24  1,256       55

###########################################################################################################################

# TOP 10 ODI BATSMEN

In [61]:
url7 = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
r7 = requests.get(url7)# r variable has all the HTML code
htmlContent3 = r7.content# r returns response so if we want the code we write r.content
#print(htmlContent7)

In [62]:
soup7 = BeautifulSoup(r7.content, 'html.parser')
Player_Name7=[]
Team10=[]
Ratings10=[]
Career_best_Record=[]

In [63]:
player7=soup7.find_all('div',class_='rankings-block__banner--name-large')
player7

In [64]:
player8=soup7.find_all('td',class_='table-body__cell rankings-table__name name')
player8[0:4]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/107">Rohit Sharma</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2759">Babar Azam</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/226">Ross Taylor</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/167">Aaron Finch</a>
 </td>]

In [65]:
PLAYER=player7+player8

In [66]:
for i in PLAYER:
    Player_Name7.append(i.get_text().replace("\n",""))
Player_Name7[0:10]

['Virat Kohli',
 'Rohit Sharma',
 'Babar Azam',
 'Ross Taylor',
 'Aaron Finch',
 'Francois du Plessis',
 'David Warner',
 'Kane Williamson',
 'Quinton de Kock',
 'Jonny Bairstow']

In [67]:
Team7=soup7.find_all('div',class_='rankings-block__banner--nationality')
Team7

[<div class="rankings-block__banner--nationality">
 <div class="flag-15 IND"></div>
 <span class="rankings-block__banner--nation"></span>IND</div>]

In [68]:
Team8=soup7.find_all('span',class_='table-body__logo-text')
Team8[0:10]

[<span class="table-body__logo-text">IND</span>,
 <span class="table-body__logo-text">PAK</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">AUS</span>,
 <span class="table-body__logo-text">NZ</span>,
 <span class="table-body__logo-text">SA</span>,
 <span class="table-body__logo-text">ENG</span>,
 <span class="table-body__logo-text">WI</span>]

In [69]:
TEAM=Team7+Team8

In [70]:
for i in TEAM:
    Team10.append(i.get_text().replace("\n",""))
Team10[0:10]

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']

In [71]:
ratings7=soup7.find_all('div',class_='rankings-block__banner--rating')
ratings7

In [72]:
ratings8=soup7.find_all('td',class_='table-body__cell rating')
ratings8[0:10]

[<td class="table-body__cell rating">842</td>,
 <td class="table-body__cell rating">837</td>,
 <td class="table-body__cell rating">818</td>,
 <td class="table-body__cell rating">791</td>,
 <td class="table-body__cell rating">790</td>,
 <td class="table-body__cell rating">773</td>,
 <td class="table-body__cell rating">765</td>,
 <td class="table-body__cell rating">755</td>,
 <td class="table-body__cell rating">754</td>,
 <td class="table-body__cell rating">750</td>]

In [73]:
RATINGS=ratings7+ratings8

In [74]:
for i in RATINGS:
    Ratings10.append(i.get_text().replace("\n",""))
Ratings10[0:10]

['870', '842', '837', '818', '791', '790', '773', '765', '755', '754']

In [75]:
career_best1=soup7.find_all('span',class_='rankings-block__career-best-text')
career_best1

[<span class="rankings-block__career-best-text">
                                 911 v England, 12/07/2018
                         </span>]

In [76]:
career_best2=soup7.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
career_best2[0:2]

[<td class="table-body__cell u-text-right u-hide-phablet">
                                 885 v Sri Lanka, 06/07/2019
                         </td>,
 <td class="table-body__cell u-text-right u-hide-phablet">
                                 846 v Sri Lanka, 20/10/2017
                         </td>]

In [77]:
CAREER_BEST=career_best1+career_best2

In [78]:
for i in CAREER_BEST:
   Career_best_Record.append(i.get_text().replace("\n",""))
Career_best_Record[0:10]

['                                911 v England, 12/07/2018                        ',
 '                                885 v Sri Lanka, 06/07/2019                        ',
 '                                846 v Sri Lanka, 20/10/2017                        ',
 '                                841 v Bangladesh, 05/06/2019                        ',
 '                                798 v England, 25/06/2019                        ',
 '                                820 v Australia, 06/07/2019                        ',
 '                                880 v Pakistan, 26/01/2017                        ',
 '                                799 v India, 09/07/2019                        ',
 '                                813 v Sri Lanka, 10/03/2019                        ',
 '                                777 v Australia, 21/06/2018                        ']

In [79]:
ICC_MENS=pd.DataFrame({})
ICC_MENS['BATSMAN NAME']=Player_Name7[0:10]
ICC_MENS['TEAM']=Team10[0:10]
ICC_MENS['RATING']=Ratings10[0:10]
ICC_MENS['CAREER BEST RECORD']=Career_best_Record[0:10]

ICC_MENS

,BATSMAN NAME,TEAM,RATING,CAREER BEST RECORD
0,Virat Kohli,IND,870,"911 v England,..."
1,Rohit Sharma,IND,842,885 v Sri Lank...
2,Babar Azam,PAK,837,846 v Sri Lank...
3,Ross Taylor,NZ,818,841 v Banglade...
4,Aaron Finch,AUS,791,"798 v England,..."
5,Francois du Plessis,SA,790,820 v Australi...
6,David Warner,AUS,773,880 v Pakistan...
7,Kane Williamson,NZ,765,"799 v India, 0..."
8,Quinton de Kock,SA,755,813 v Sri Lank...
9,Jonny Bairstow,ENG,754,777 v Australi...

##########################################################################################################################

# TOP 10 ODI BOWLERS

In [80]:
url8 = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
r8 = requests.get(url8)# r variable has all the HTML code
htmlContent8 = r8.content# r returns response so if we want the code we write r.content
#print(htmlContent7)
soup8 = BeautifulSoup(r8.content, 'html.parser')
Player_Name11=[]
Team11=[]
Ratings11=[]
Career_best_Record11=[]

In [81]:
player_A=soup8.find_all('div',class_='rankings-block__banner--name-large')
player_A

In [82]:
player_B=soup8.find_all('td',class_='table-body__cell rankings-table__name name')
player_B[0:2]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4572">Mujeeb Ur Rahman</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/1124">Jasprit Bumrah</a>
 </td>]

In [83]:
PLAYER2=player_A+player_B

In [84]:
for i in PLAYER2:
    Player_Name11.append(i.get_text().replace("\n",""))
Player_Name11[0:10]

['Trent Boult',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Chris Woakes',
 'Kagiso Rabada',
 'Josh Hazlewood',
 'Mohammad Amir',
 'Pat Cummins',
 'Matt Henry',
 'Jofra Archer']

In [85]:
Team_A=soup8.find_all('div',class_='rankings-block__banner--nationality')
Team_B=soup8.find_all('span',class_='table-body__logo-text')

In [86]:
TEAM2=Team_A+Team_B

In [87]:
for i in TEAM2:
    Team11.append(i.get_text().replace("\n",""))
Team11[0:10]

['NZ', 'AFG', 'IND', 'ENG', 'SA', 'AUS', 'PAK', 'AUS', 'NZ', 'ENG']

In [88]:
ratings_A=soup8.find_all('div',class_='rankings-block__banner--rating')
ratings_B=soup8.find_all('td',class_='table-body__cell rating')

In [89]:
RATING_2=ratings_A+ratings_B

In [90]:
for i in RATING_2:
    Ratings11.append(i.get_text().replace("\n",""))
Ratings11[0:10]

['722', '701', '700', '675', '665', '660', '647', '646', '641', '637']

In [91]:
career_best_A=soup8.find_all('span',class_='rankings-block__career-best-text')
career_best_B=soup8.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')

In [92]:
CAREER_BEST_A=career_best_A+career_best_B

In [93]:
for i in CAREER_BEST_A:
    Career_best_Record11.append(i.get_text().replace("\n",""))
Career_best_Record11[0:10]

['                                770 v West Indies, 22/06/2019                        ',
 '                                707 v West Indies, 11/11/2019                        ',
 '                                841 v West Indies, 01/11/2018                        ',
 '                                676 v New Zealand, 14/07/2019                        ',
 '                                724 v England, 29/05/2017                        ',
 '                                733 v England, 26/01/2018                        ',
 '                                663 v Sri Lanka, 02/10/2019                        ',
 '                                729 v Pakistan, 12/06/2019                        ',
 '                                675 v Australia, 08/02/2016                        ',
 '                                642 v Australia, 13/09/2020                        ']

In [94]:
ICC_BOWL=pd.DataFrame({})
ICC_BOWL['BATSMAN NAME']=Player_Name11[0:10]
ICC_BOWL['TEAM']=Team11[0:10]
ICC_BOWL['RATING']=Ratings11[0:10]
ICC_BOWL['CAREER BEST RATING']=Career_best_Record11[0:10]

ICC_BOWL

,BATSMAN NAME,TEAM,RATING,CAREER BEST RATING
0,Trent Boult,NZ,722,770 v West Ind...
1,Mujeeb Ur Rahman,AFG,701,707 v West Ind...
2,Jasprit Bumrah,IND,700,841 v West Ind...
3,Chris Woakes,ENG,675,676 v New Zeal...
4,Kagiso Rabada,SA,665,"724 v England,..."
5,Josh Hazlewood,AUS,660,"733 v England,..."
6,Mohammad Amir,PAK,647,663 v Sri Lank...
7,Pat Cummins,AUS,646,729 v Pakistan...
8,Matt Henry,NZ,641,675 v Australi...
9,Jofra Archer,ENG,637,642 v Australi...

###############################################################################################################################

# ICC ODI RANKING WOMENS

In [95]:
url12 = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
r12 = requests.get(url12)# r variable has all the HTML code
htmlContent12 = r12.content# r returns response so if we want the code we write r.content
#print(htmlContent)
htmlText12 = r12.text
#print(htmlText)
soup12 = BeautifulSoup(r12.content, 'html.parser')
Teams_12=[]
Matches_12=[]
Points_12=[]
Ratings_12=[]

teams13=soup12.find_all('span',class_='u-hide-phablet')
teams13[0:2]

[<span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>]

In [96]:
for i in teams13[0:10]:
    Teams_12.append(i.get_text().replace("\n",""))
Teams_12[0:10]

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [97]:
matches13=soup12.find_all('td',class_='rankings-block__banner--matches')

In [98]:
matches14=soup12.find_all('td',class_='table-body__cell u-center-matches')

In [99]:
matches15=matches13+matches14

In [100]:
for i in matches15:
    Matches_12.append(i.get_text().replace("\n",""))
Matches_12[0:3]

['15']

In [101]:
ratings13=soup12.find_all('td',class_='rankings-block__banner--rating u-text-right')
ratings14=soup12.find_all('td',class_='table-body__cell u-text-right rating')
ratings15=ratings13+ratings14

In [102]:
for i in ratings15:
    Ratings_12.append(i.text.replace("\n","").strip())
Ratings_12

['162', '121', '119', '107', '92', '85', '77', '61', '47', '13']

In [103]:
points13=soup12.find_all('td',class_='table-body__cell u-text-right rating')
points13[0:4]

[<td class="table-body__cell u-text-right rating">121</td>,
 <td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">107</td>,
 <td class="table-body__cell u-text-right rating">92</td>]

In [104]:
for i in points13:
    Points_12.append(i.text.replace("\n","").strip())
Points_12[0:10]

['121', '119', '107', '92', '85', '77', '61', '47', '13']

In [105]:
ICC_WOMAN=pd.DataFrame({})
ICC_WOMAN['TEAM_NAME']=Teams_12

ICC_WOMAN['RATINGS_']=Ratings_12


ICC_WOMAN[0:10]

      TEAM_NAME RATINGS_
0     Australia      162
1         India      121
2       England      119
3  South Africa      107
4   New Zealand       92
5   West Indies       85
6      Pakistan       77
7    Bangladesh       61
8     Sri Lanka       47
9       Ireland       13

#########################################################################################################################

# Women's ODI Player Rankings

In [106]:
url15 = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
r15 = requests.get(url15)# r variable has all the HTML code
htmlContent15 = r15.content# r returns response so if we want the code we write r.content
#print(htmlContent15)
soup15 = BeautifulSoup(r15.content, 'html.parser')
Player_Name15=[]
Team15=[]
Ratings15=[]
Career_best_Record15=[]
player13=soup15.find_all('div',class_='rankings-block__banner--name-large')
player14=soup15.find_all('td',class_='table-body__cell rankings-table__name name')
PLAYER_WW=player13+player14

In [107]:
for i in PLAYER_WW:
    Player_Name15.append(i.get_text().replace("\n",""))
Player_Name15[0:10]

['Meg Lanning',
 'Stafanie Taylor',
 'Alyssa Healy',
 'Smriti Mandhana',
 'Amy Satterthwaite',
 'Tammy Beaumont',
 'Ellyse Perry',
 'Lizelle Lee',
 'Laura Wolvaardt',
 'Mithali Raj']

In [108]:
Team13=soup15.find_all('div',class_='rankings-block__banner--nationality')
Team14=soup15.find_all('span',class_='table-body__logo-text')
TEAM_WW=Team13+Team14
for i in TEAM_WW:
    Team15.append(i.get_text().replace("\n",""))
Team15[0:10]

['AUS', 'WI', 'AUS', 'IND', 'NZ', 'ENG', 'AUS', 'SA', 'SA', 'IND']

In [109]:
ratings13=soup15.find_all('div',class_='rankings-block__banner--rating')
ratings14=soup15.find_all('td',class_='table-body__cell rating')
RATINGS_WW=ratings13+ratings14
for i in RATINGS_WW:
    Ratings15.append(i.get_text().replace("\n",""))
Ratings15[0:10]

['749', '746', '741', '732', '723', '716', '691', '690', '689', '687']

In [110]:
career_best3=soup15.find_all('span',class_='rankings-block__career-best-text')
career_best4=soup15.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
CAREER_BEST_W=career_best3+career_best4
for i in CAREER_BEST_W:
   Career_best_Record15.append(i.get_text().replace("\n",""))
Career_best_Record15[0:10]

['                                834 v New Zealand, 24/02/2016                        ',
 '                                765 v India, 02/03/2012                        ',
 '                                741 v New Zealand, 07/10/2020                        ',
 '                                797 v England, 28/02/2019                        ',
 '                                756 v Australia, 02/03/2017                        ',
 '                                738 v Australia, 04/07/2019                        ',
 '                                766 v West Indies, 11/09/2019                        ',
 '                                752 v England, 12/06/2018                        ',
 '                                712 v New Zealand, 25/01/2020                        ',
 '                                839 v Australia, 24/12/2004                        ']

In [111]:
ICC_WOMENS=pd.DataFrame({})
ICC_WOMENS['BATSMAN NAME']=Player_Name15[0:10]
ICC_WOMENS['TEAM']=Team15[0:10]
ICC_WOMENS['RATING']=Ratings15[0:10]
ICC_WOMENS['CAREER BEST RECORD']=Career_best_Record15[0:10]

ICC_WOMENS

,BATSMAN NAME,TEAM,RATING,CAREER BEST RECORD
0,Meg Lanning,AUS,749,834 v New Zeal...
1,Stafanie Taylor,WI,746,"765 v India, 0..."
2,Alyssa Healy,AUS,741,741 v New Zeal...
3,Smriti Mandhana,IND,732,"797 v England,..."
4,Amy Satterthwaite,NZ,723,756 v Australi...
5,Tammy Beaumont,ENG,716,738 v Australi...
6,Ellyse Perry,AUS,691,766 v West Ind...
7,Lizelle Lee,SA,690,"752 v England,..."
8,Laura Wolvaardt,SA,689,712 v New Zeal...
9,Mithali Raj,IND,687,839 v Australi...

##################################################################################################################################

# Women's ODI All-Rounder Rankings

In [112]:
url20 = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
r20 = requests.get(url20)# r variable has all the HTML code
htmlContent20= r20.content# r returns response so if we want the code we write r.content
#print(htmlContent20)
soup20= BeautifulSoup(r20.content, 'html.parser')
Player_Name20=[]
Team20=[]
Ratings20=[]
Career_best_Record20=[]
player17=soup20.find_all('div',class_='rankings-block__banner--name-large')
player18=soup20.find_all('td',class_='table-body__cell rankings-table__name name')
PLAYER_WWA=player17+player18
for i in PLAYER_WWA:
    Player_Name20.append(i.get_text().replace("\n",""))
Player_Name20[0:10]

['Ellyse Perry',
 'Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Sophie Devine',
 'Natalie Sciver',
 'Shikha Pandey',
 'Katherine Brunt']

In [113]:
Team17=soup20.find_all('div',class_='rankings-block__banner--nationality')
Team18=soup20.find_all('span',class_='table-body__logo-text')
TEAM_WWA=Team17+Team18
for i in TEAM_WWA:
    Team20.append(i.get_text().replace("\n",""))
Team20[0:10]

['AUS', 'WI', 'SA', 'IND', 'SA', 'AUS', 'NZ', 'ENG', 'IND', 'ENG']

In [114]:
ratings17=soup20.find_all('div',class_='rankings-block__banner--rating')
ratings18=soup20.find_all('td',class_='table-body__cell rating')
RATINGS_WWA=ratings17+ratings18
for i in RATINGS_WWA:
    Ratings20.append(i.get_text().replace("\n",""))
Ratings20[0:10]

['460', '410', '389', '359', '335', '301', '289', '273', '250', '232']

In [115]:
career_best17=soup20.find_all('span',class_='rankings-block__career-best-text')
career_best18=soup20.find_all('td',class_='table-body__cell u-text-right u-hide-phablet')
CAREER_BEST_WA=career_best17+career_best18
for i in CAREER_BEST_WA:
   Career_best_Record20.append(i.get_text().replace("\n",""))
Career_best_Record20[0:10]

['                                548 v West Indies, 11/09/2019                        ',
 '                                559 v New Zealand, 10/10/2013                        ',
 '                                389 v New Zealand, 30/01/2020                        ',
 '                                397 v South Africa, 09/10/2019                        ',
 '                                421 v Sri Lanka, 11/02/2019                        ',
 '                                308 v West Indies, 11/09/2019                        ',
 '                                305 v Australia, 05/10/2020                        ',
 '                                307 v Sri Lanka, 21/03/2019                        ',
 '                                262 v South Africa, 14/10/2019                        ',
 '                                270 v Sri Lanka, 16/03/2019                        ']

In [116]:
ICC_WOMENS_A=pd.DataFrame({})
ICC_WOMENS_A['BATSMAN NAME']=Player_Name20[0:10]
ICC_WOMENS_A['TEAM']=Team20[0:10]
ICC_WOMENS_A['RATING']=Ratings20[0:10]
ICC_WOMENS_A['CAREER BEST RECORD']=Career_best_Record20[0:10]

ICC_WOMENS_A

,BATSMAN NAME,TEAM,RATING,CAREER BEST RECORD
0,Ellyse Perry,AUS,460,548 v West Ind...
1,Stafanie Taylor,WI,410,559 v New Zeal...
2,Marizanne Kapp,SA,389,389 v New Zeal...
3,Deepti Sharma,IND,359,397 v South Af...
4,Dane van Niekerk,SA,335,421 v Sri Lank...
5,Jess Jonassen,AUS,301,308 v West Ind...
6,Sophie Devine,NZ,289,305 v Australi...
7,Natalie Sciver,ENG,273,307 v Sri Lank...
8,Shikha Pandey,IND,250,262 v South Af...
9,Katherine Brunt,ENG,232,270 v Sri Lank...

############################################################################################################################################

# Mobile Phones Under 20,000 INR

In [127]:
url32 = "https://www.amazon.in/s?k=mobile+under+20000&rh=p_36%3A500000-2000000&crid=3KJ0WEF6R63UF&qid=1610700723&rnid=1318502031&sprefix=mobi%2Caps%2C486&ref=sr_nr_p_36_4"
r32 = requests.get(url32)# r variable has all the HTML code
htmlContent32= r32.content# r returns response so if we want the code we write r.content
#print(htmlContent21)
soup32= BeautifulSoup(r32.content, 'html.parser')
Mobile_Name=[]
Price=[]
Image=[]
Average_Rating=[]
name30=soup32.find_all('span',class_='a-size-medium a-color-base a-text-normal')
for i in name30:
    Mobile_Name.append(i.get_text().replace("\n",""))
Mobile_Name[0:10]

['Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M01 (Black, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64GB Storage)',
 'Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)',
 'Samsung Galaxy M31 Prime Edition (Space Black, 6GB RAM, 128GB Storage)',
 'Redmi Note 9 Pro (Interstellar Black, 4GB RAM, 64GB Storage)- Latest 8nm Snapdragon 720G & Alexa Hands-Free | Upto 6 Months No Cost EMI',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display']

In [128]:
# image=soup32.find_all('div',class_='s-image')
# for i in image:
#     Image.append(i.get_text().replace("\n",""))
# Image[0:10]

In [129]:
price=soup32.find_all('span',class_='a-price-whole')
for i in price:
    Price.append(i.get_text().replace("\n",""))
Price[0:10]

['8,999',
 '16,499',
 '7,499',
 '5,999',
 '13,999',
 '7,499',
 '6,999',
 '16,499',
 '12,999',
 '11,999']

In [130]:
rating=soup32.find_all('i',class_='a-icon a-icon-star-small a-star-small-4 aok-align-bottom')
for i in rating:
    Average_Rating.append(i.get_text().replace("\n",""))
Average_Rating

['4.0 out of 5 stars',
 '4.2 out of 5 stars',
 '3.9 out of 5 stars',
 '4.2 out of 5 stars',
 '3.9 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars']

In [131]:
Mob=pd.DataFrame({})
Mob['MOBILE_NAME']=Mobile_Name[0:10]
Mob['PRICE']=Price[0:10]
#Mob['IMAGE']=Image[0:10]
Mob['AVERAGE_RATING']=Average_Rating[0:10]

Mob

,MOBILE_NAME,PRICE,AVERAGE_RATING
0,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)","8,999",4.0 out of 5 stars
1,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","16,499",4.2 out of 5 stars
2,"Samsung Galaxy M01 (Black, 3GB RAM, 32GB Stora...","7,499",3.9 out of 5 stars
3,"Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB ...","5,999",4.2 out of 5 stars
4,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...","13,999",3.9 out of 5 stars
5,"Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storag...","7,499",4.1 out of 5 stars
6,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)","6,999",4.2 out of 5 stars
7,"Samsung Galaxy M31 Prime Edition (Space Black,...","16,499",4.2 out of 5 stars
8,"Redmi Note 9 Pro (Interstellar Black, 4GB RAM,...","12,999",4.2 out of 5 stars
9,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","11,999",4.0 out of 5 stars

##################################################################################################################################

# San Francisco Bay Area/Monterey, CA

In [122]:
url22 = "https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YAKtTsUzYUs"
r22 = requests.get(url22)# r variable has all the HTML code
htmlContent22= r22.content# r returns response so if we want the code we write r.content
#print(htmlContent22)
soup22= BeautifulSoup(r22.content, 'html.parser')
Day=[]
Short_Description=[]
Temperature=[]
Description=[]

day=soup22.find_all('p',class_='period-name')
for i in day:
    Day.append(i.get_text().replace("\n",""))
Day

['NOW: Multiplehazards in effect',
 'Overnight',
 'M.L.KingDay',
 'MondayNight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday',
 'WednesdayNight',
 'Thursday']

In [123]:
short_descrition=soup22.find_all('p',class_='short-desc')
for i in short_descrition:
    Short_Description.append(i.get_text().replace("\n",""))
Short_Description

['Click HERE for Details',
 'Partly Cloudy',
 'Sunny',
 'Clear thenMostly Clearand Breezy',
 'Sunny andBreezy thenSunny',
 'Clear',
 'Sunny',
 'Mostly Clear',
 'Mostly Sunny']

In [124]:
Temp=soup22.find_all('p',class_='temp temp-low')
for i in Temp:
    Temperature.append(i.get_text().replace("\n",""))
Temperature

['Low: 51 °F', 'Low: 51 °F', 'Low: 46 °F', 'Low: 45 °F']

In [125]:
descrition=soup22.find_all('div',class_='col-sm-10 forecast-text')
for i in descrition:
    Description.append(i.get_text().replace("\n",""))
Description

['Partly cloudy, with a low around 51. Light west northwest wind. ',
 'Sunny, with a high near 71. North wind 8 to 14 mph, with gusts as high as 30 mph. ',
 'Mostly clear, with a low around 51. Breezy, with a north wind 17 to 25 mph, with gusts as high as 44 mph. ',
 'Sunny, with a high near 68. Breezy, with a north northeast wind 20 to 24 mph, with gusts as high as 41 mph. ',
 'Clear, with a low around 46. North northeast wind 3 to 6 mph. Winds could gust as high as 30 mph. ',
 'Sunny, with a high near 63.',
 'Mostly clear, with a low around 45.',
 'Mostly sunny, with a high near 60.',
 'Partly cloudy, with a low around 46.',
 'A slight chance of rain.  Mostly sunny, with a high near 57.',
 'A slight chance of rain.  Partly cloudy, with a low around 44.',
 'Sunny, with a high near 58.',
 'A slight chance of rain.  Mostly clear, with a low around 44.',
 'A chance of rain.  Partly sunny, with a high near 56.']

In [126]:
Weather=pd.DataFrame({})
Weather['Period']=Day[0:7]
Weather['SHORT DESCRIPTION']=Short_Description[0:7]
#Weather['TEMPERATURE']=Temperature[0:17]
Weather['DESCRIPTION']=Description[0:7]

Weather

,Period,SHORT DESCRIPTION,DESCRIPTION
0,NOW: Multiplehazards in effect,Click HERE for Details,"Partly cloudy, with a low around 51. Light wes..."
1,Overnight,Partly Cloudy,"Sunny, with a high near 71. North wind 8 to 14..."
2,M.L.KingDay,Sunny,"Mostly clear, with a low around 51. Breezy, wi..."
3,MondayNight,Clear thenMostly Clearand Breezy,"Sunny, with a high near 68. Breezy, with a nor..."
4,Tuesday,Sunny andBreezy thenSunny,"Clear, with a low around 46. North northeast w..."
5,TuesdayNight,Clear,"Sunny, with a high near 63."
6,Wednesday,Sunny,"Mostly clear, with a low around 45."